/********************************************************************************
CSS TABLE OF CONTENTS
===== Base ====
    |-- 1.0 - Reset
    |-- 2.0 - Gobal
    |-- 3.0 - Navbar
    |-- 4.0 - About
    |-- 5.0 - Project
    |-- 6.0 - Footer
    |-- 7.0 - Responsive
********************************************************************************/

/********************************** 1.0 - Reset ********************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/***************************** 2.0 - Global ******************************/
* {
  font-family: "QuickSand";
  box-sizing: border-box; 
  padding: 0;
  margin:0; 
}

body, 
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(246, 252, 252);
}

.hidden {
  display: none;
}


/******************************* 3.0 Navbar ***************************/
.nav_section { 
  background-image:linear-gradient(to top, rgb(255, 255, 255) , rgb(95, 110, 114));
  border-right: rgb(45, 70, 68) .55em solid;
  border-left: rgb(45, 70, 68) .55em solid;
  border-bottom: rgb(45, 70, 68) .15em solid;
  top: 0;
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  box-shadow:20px 20px 50px grey;  
}

.nav_section ul {
  display: flex;
}

.nav_section li  {
  padding: .2em 2.5em;
  margin: 1.5em 1em;
  font-size: 1.2em;
  border:rgba(20, 20, 20, 0) solid 2px;
}

.nav_section  a:link, a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
}

.nav_section  a:hover, a:active {
  text-decoration: underline;
}


/******************************* 4.0 - Hero ***************************/
.carousel-indicators {
  margin: 0;
  padding: 2em;
}

.carousel-indicators li {
  padding: 0, 2em, 3em;
  height: 1em;
  width: 2em;
}

.img-fluid {
  margin-top: 4em;
  height: 45em;
  width: 100%;
  border-bottom: 0.5em solid rgb(0, 0, 0);
}

.btn {
  background-color: rgba(170, 219, 217, 0.767);
  border: 2px solid rgb(27, 46, 49);
  margin: 0.5em, 10em;
  padding: 1em ;
}

.btn_2 {
  background-color: rgba(170, 219, 217, 0.767);
  border: 2px solid rgb(51, 79, 83);
  padding: .5em;
  border-radius: 10% 0 0 10%;
}

.hero_button {
  padding: 3em;
}

.hero_inner_element {
  padding:2em;
}

.hero_title {
  font-size: 5em;
  padding:2em;
}


/******************************* 5.0 - Drinks of the Day ***************************/
.drink_of_day_title, .quiz_title, .team_title {
  position: relative;
  padding: 0 0 0 3em;
  background-image:linear-gradient(to right, rgba(255, 255, 255, 0.925) , rgba(156, 170, 173, 0.514), rgb(255, 255, 255, 0.925));
  border-bottom: 1px black solid;
  box-shadow: black ;
  border-left: 1px black solid;
  border-right: 4px black solid; 
  width: 80%;
  margin: 6em auto 2em;
}

.drink_of_day_title, .quiz_title, .team_title p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  padding: .5em 1em .5em 1em;
}

.drink_of_day_section, .about_us_section {
  border-top:rgb(110, 185, 179) 2px solid;
  border-bottom:rgb(97, 168, 162) .95em solid; 
  margin: 3em 1.5em;
  padding: 2em 1em;
  width: 18rem;
}

.drink_of_day_label {
  font-size: 1.5em;
  text-decoration: underline;
}


/******************************* 5.0 - Quiz ***************************/
.quiz_title {
  margin: 1em auto;
}

.tab_section_body {
  border-bottom: rgb(97, 168, 162) 1em solid;
}

#results_section {
  margin: 1em 5em;
}

.card_element {
  background-color: rgba(0, 0, 0, 0.048);
  border-radius: 10%;
  border-top:rgb(110, 185, 179) 2px solid;
  border-bottom:rgb(97, 168, 162) .95em solid; 
  margin: 1em auto 1em;
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
}

.submit_thanks {
  display: block;
  margin: 3em;
}
.element_submit_button {
  width: 100%;
}

.quiz_card_result {
  display: flex;
  justify-content: center;
}

.welcome h2 {
  font-size: 2em;
  margin: 4em 2em;
}

.quiz_section {
  margin: 1em 0;
}

.game-container-detail h1 {
  font-size: 1.1em;
}

#display-question {
  font-size: 1.2em;
  margin: 2em auto;
}

.option {
  font-size: 1.2em;
  margin: 2em auto;
}


/******************************* 5.0 - Form ****************************/
.card_tab_section {
  margin:10em 5em 5em;
}

.tab_section_body {
  height: 45em;
}

.card_header_style {
  background-color: rgb(97, 168, 162, .2);
}

.name_form {
  width: 40%;
}

.name_form {
  margin: 2em;
}

/******************************* 5.0 - About ***************************/
.about_section_header img {
  height: 100%;
  width: 100%;
  height: 17em;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_section_header p {
  color: rgb(0, 0, 0);
  margin: 3em auto;
  font-size: 7em;
}

.about_card_group {
  margin: 5em 3em 10em;
}

.about_us_img {
  height: 30em;
}


/******************************* 4.0 - Footer ***************************/
footer {
  background-image:linear-gradient(to bottom, rgb(255, 255, 255) , rgba(95, 110, 114, 0.548));
  border-top: rgb(3, 3, 3) 0.15em solid;
  border-right: rgb(3, 3, 3) .5em solid;
  border-left: rgb(3, 3, 3) .5em solid;
  width: 100%;
  height: 2.8em;
  padding: 0;
  bottom: 0;
  justify-content: space-evenly;
}

footer ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  justify-content: space-evenly;
  color: rgb(0, 0, 0);
  font-size: 1.05em;
  padding: 1em .5em .5em .5em ;
}

footer a:link, a:visited {
  color: rgb(14, 32, 48);
  text-decoration: none;
  text-align: center;
}

footer a:hover, a:active {
  background-color: rgba(255, 255, 255, 0);
  text-decoration: underline black 2px;
}

